#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
target/

# NetBeans specific
/AuctionHouse/nbproject/private/
/AuctionHouse/build/
/AuctionHouse/nbbuild/
/AuctionHouse/dist/
/AuctionHouse/nbdist/
/AuctionHouse/nbactions.xml
/AuctionHouse/nb-configuration.xml

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag
/AuctionHouse/build.xml